<div class="contenedor-programas">
    <div class="lista">
        @for (programa of programas; track programa.id) {
        <div class="card">
            <div class="contenedor-imagen">
                <img [src]="urlImagenes+programa.rutaImagen" [alt]="'Imagen del programa ' + programa.nombre">
            </div>
            <div class="contenedor-contenido">
                <h2>{{ programa.nombre }}</h2>
                <p><strong>Descripción:</strong> {{ programa.descripcion }}</p>
                <p><strong>Duración:</strong> {{ programa.duracion }} horas</p>
                <div class="contenedor-botones">
                    <button [routerLink]="['/programas', 'editar-programa', programa.id]">
                        <img width="20px" src="icons/icono-actualizar.svg" alt="Icono Editar Programa">
                    </button>
                    <button>
                        <img (click)="eliminarPrograma(programa.id)" width="15px" title="Eliminar Programa" src="icons/icono-eliminar.svg" alt="Icono Eliminar Programa">
                    </button>
                    <button [routerLink]="['/programas', 'detalle-programa', programa.id]">
                        <img width="20px" src="icons/icono-revisar.svg" alt="Icono Ver Programa">
                    </button>
                </div>
            </div>
        </div>
    }
    </div>
    <app-paginacion-programas [numeroPagina]="numeroPagina" [tamanoPagina]="tamanoPagina"  (enviarProgramas)="recibirProgramas($event)" />
</div>
<!-- EL COMPONENTE DE PAGINACION REGRESA LA LISTA DE PROGRAMAS -->




