.contenedor-programas {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.contenedor-programas .lista {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.contenedor-programas .lista .card {
    display: flex;
    background-color: #FFF;
    width: 48%;
    height: 14rem;
    border-radius: .9rem;
}

.card .contenedor-imagen {
    width: 30rem;
}

.card h2 {
    padding: 0;
}

.card p {
    font-size: .9rem;
    text-align: justify;
}

.card .contenedor-imagen img {
    width: 21rem;
    height: 14rem;
    object-fit: cover;
    border-top-left-radius: .9rem;
    border-bottom-left-radius: .9rem;
}

.card .contenedor-contenido {
    width: 100%;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .8rem;
}

.card .contenedor-botones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0001;
    padding: .4rem;
    border-radius: .9rem;
}

.card .contenedor-botones img {
    cursor: pointer;
}