footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #0A0A0A;
    padding: 30px 0;
    color: #f0f4fd;
    box-shadow: 0 0 6px #000;
}

footer h3{
    color: #FF5F15;
}

.footer-top{
    display: flex;
    justify-content: space-around;
}

.footer-bottom{
    text-align: center;
}

footer .contenedor{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .contenedor p{
    width: 200px;
}

footer .contenedor form{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

footer .contenedor form> input, button, textarea{
    width: 250px;
    padding: 5px 0;
    text-indent: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #f0f4fd;
    color: #1A1731;
}

footer .contenedor form textarea {
    min-width: 250px;
    max-width: 250px;
    max-height: 100px;
    min-height: 50px;
}

footer .contenedor form button{
    background-color: #FF5F15;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    color: #1A1731;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.redes-sociales ul{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.redes-sociales ul .twitter{
    background-color: #f0f4fd;
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

footer .btn-descargar{
    padding: 10px 15px;
    background-color: #FF5F15;
    color: #1A1731;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .link-desarrollador{
    display: flex;
    align-items: center;
    gap: 5px;
}

footer .link-desarrollador a{
    color: #f0f4fd;
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}