<div class="contenedor-detalle">
    <div class="contenedor-form-docentes">
        <h2>Detalle {{ docente.nombre == '' ? 'del Docente' : `de ${docente.nombre}` }} </h2>
        
        <form class="form-docentes">
            <fieldset>
                <legend>Datos Personales</legend>

                <div class="contenedor-input">
                    <p>Cedula</p>
                    <input [(ngModel)]="cedula" type="number" name="cedula-detalle" placeholder="Ingrese la cedula">
                </div>
                <div class="contenedor-input">
                    <p>Nombre</p>
                    <input [value]="docente.nombre" type="text" disabled>
                </div>
        

                <br>
                <br>

                <div class="contenedor-input">
                    <p>Apellido</p>
                    <input [value]="docente.apellido" type="text" disabled>
                </div>

                <div class="contenedor-input">
                    <p>Edad</p>
                    <input [value]="docente.edad == 0 ? '' : docente.edad" type="number" disabled>
                </div>


                <br>
                <br>

                <div class="contenedor-input">
                    <p>Celular</p>
                    <input [value]="docente.celular == '' ? '' : docente.celular" type="number" disabled>
                </div>
                <div class="contenedor-input">
                    <p>Email</p>
                    <input [value]="docente.email" type="text" disabled>
                </div>

            
                <br>
                <br>

                <div class="contenedor-input">
                    <p>Genero</p>
                    <input [value]="docente.genero" type="text" disabled>
                </div>
                <div class="contenedor-input">
                    <p>Estado</p>
                    <input [value]="docente.estado == null ? '' : docente.estado ? 'Activo' : 'Inactivo'" type="text" disabled>
                </div>


            </fieldset>
            <fieldset>
                <legend>Fechas de estados</legend>

                <div class="contenedor-input">
                    <p>Creación</p>
                    <input [value]="docente.fechaCreacion | date:'yyyy/MM/dd hh:mm'" type="text" disabled>
                </div>
                <div class="contenedor-input">
                    <p>Actualización</p>
                    <input [value]="docente.fechaActualizacion | date:'yyyy/MM/dd hh:mm'" type="text" disabled>
                </div>

                
            </fieldset>
            <div class="contenedor-btns">
                <button (click)="buscarDocente()">Buscar</button>
                <button [routerLink]="['/docentes', 'editar-docente', docente.id]" type="button">Editar</button>
            </div>
        </form>
    </div>
</div>

