<section class="seccion-imagen">
    <div>
        <h2>CONOCE MAS DE NOSOTROS</h2>
    </div>
</section>
<section class="seccion-informacion">
    <h2>🏛️ Sobre Nosotros</h2>
    <article>
        <img src="img/imagen-nosotros-articulo1.jpg" alt="Imagen Articulo">
        <p>En NovaUniversitas formamos más que profesionales: cultivamos líderes con visión global, ética sólida y
            compromiso con la transformación de la sociedad.</p>
        <p>Creemos en una formación integral, que combina la excelencia académica con el crecimiento humano. Nuestra
            propuesta educativa impulsa el desarrollo intelectual, emocional y cultural de cada estudiante,
            preparándolos para afrontar los desafíos del mundo actual.</p>
        <p>Vivir la experiencia NovaUniversitas es sumergirse en un entorno vibrante e inspirador: programas de
            intercambio internacional, laboratorios de innovación, mentorías personalizadas y una comunidad que acompaña
            tu crecimiento profesional y personal.</p>
        <p>Contamos con vínculos sólidos con la industria y la sociedad, lo que permite que nuestros estudiantes accedan
            a oportunidades reales de impacto, empleabilidad y proyección internacional.</p>
        <p>En el corazón de nuestra universidad está la investigación con propósito. Promovemos el pensamiento crítico,
            la creatividad y la innovación orientada a resolver los grandes retos sociales, ambientales y tecnológicos
            de nuestro tiempo.</p>
        <p>Nos enorgullecemos de ser una institución diversa e inclusiva, donde todas las voces son escuchadas y
            valoradas. Fomentamos una cultura de respeto, equidad y participación activa.</p>
        <p>Finalmente, estamos comprometidos con un futuro sostenible. Nuestros programas están alineados con los
            Objetivos de Desarrollo Sostenible, formando profesionales conscientes de su impacto en el planeta y en la
            humanidad.</p>
    </article>
    <h2>🎯 Visión</h2>
    <article>
        <p>Ser una universidad reconocida nacional e internacionalmente por su excelencia académica, compromiso con el
            desarrollo sostenible y formación integral de líderes éticos, innovadores y transformadores, capaces de
            generar un impacto positivo en la sociedad.</p>
    </article>
</section>
<app-footer></app-footer>
  