<section class="seccion-imagen">
    <div>
        <h2>CONOCE MAS DE NOSOTROS</h2>
    </div>
</section>
<section class="seccion-informacion">
    <h2>🏛️ Sobre Nosotros</h2>
    <article>
        <img src="img/imagen-nosotros-articulo.webp" title="Imagen de Articulo" alt="Imagen Articulo">
        <p>En el Instituto Central MZ formamos más que profesionales: cultivamos líderes con visión global, principios éticos sólidos y un firme compromiso con la transformación positiva de la sociedad.</p>

        <p>Nuestra propuesta educativa se basa en una formación integral que combina excelencia académica, crecimiento personal y responsabilidad social. Impulsamos el desarrollo intelectual, emocional y cultural de cada estudiante, preparándolos para afrontar los desafíos de un mundo cambiante.</p>

        <p>Vivir la experiencia del Instituto Central MZ es adentrarse en un entorno dinámico e inspirador, con programas de intercambio internacional, espacios de innovación, mentorías personalizadas y una comunidad que acompaña tu evolución profesional y humana.</p>

        <p>Contamos con alianzas estratégicas con sectores productivos y organizaciones sociales, lo que permite a nuestros estudiantes acceder a oportunidades reales de impacto, empleabilidad y proyección internacional.</p>

        <p>La investigación aplicada es uno de nuestros pilares fundamentales. Promovemos el pensamiento crítico, la creatividad y la innovación con propósito, orientada a resolver los grandes retos sociales, ambientales y tecnológicos de nuestro tiempo.</p>

        <p>Somos una institución diversa e inclusiva, donde todas las voces son valoradas. Fomentamos una cultura de respeto, equidad y participación activa para el desarrollo de una comunidad educativa abierta y solidaria.</p>

        <p>En el Instituto Central MZ, educamos con conciencia. Nuestros programas están alineados con los Objetivos de Desarrollo Sostenible, formando profesionales responsables, capaces de generar un impacto positivo en el planeta y en la humanidad.</p>
    </article>
    <h2>🎯 Visión</h2>
    <article>
        <p>Ser una institución de educación superior reconocida a nivel nacional e internacional por su excelencia académica, su compromiso con el desarrollo sostenible y su capacidad de formar líderes íntegros, innovadores y socialmente responsables, capaces de transformar realidades y generar un impacto positivo en sus comunidades y en el mundo.</p>
    </article>
</section>
<app-footer></app-footer>
  