.seccion-imagen{
    background-image: url(../../../../public/img/fondo-nosotros-redimensionada.webp);
    background-size: cover;
    background-position: bottom; 
    mask-image: linear-gradient(to bottom, black 70%, transparent);
    height: 120vh;
}


.seccion-imagen div{
    height: 140vh; 
    display:  flex; 
    justify-content: center; 
    z-index: 2;
    background-color: rgba(5, 7, 12, 0.6);
    width: 100%;
    height: 120vh;
    flex-direction: column;
}

.seccion-imagen div h2{
    font-size: 3.5rem;
    color: #fff;
    animation-name: movimiento;
    animation-duration: 2s;
    text-align: center;
    text-shadow: 0 0 .8rem #000;
}

@keyframes movimiento {
    
    10%{
        transform: scale(0.1);
    }

    30% {
        transform: translateY(-14rem);
    }

    60%{
        transform: scale(1);
    }

    100%{
        transform: translateY(0);
    }

    
}

.seccion-informacion{
    padding: 3.5rem 0;
    height: fit-content;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion-informacion h2{
    width: 70%;
    color: #FF5F15;
    text-shadow: 0 0 .1rem #000;
}

.seccion-informacion article{
    width: 70%;
    text-align: justify;
    line-height: 1.5;
    text-shadow: 0 0 .1rem #000;
}

.seccion-informacion article img{
    width: 40%;
    float: right;
    margin-left: 2rem;
    margin-bottom: 1.4rem;
    border-radius: .4rem;
    margin-top: .8rem;
    box-shadow: 0 0 .1rem #000;    
}


