h2{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #1A1731;
    /*background-image: linear-gradient(90deg, #000117ee, #017C8E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    
    /* Para compatibilidad adicional */
    /*background-clip: text;
    color: transparent;*/
}

form{
    width:  100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #1A1731;
}

form div{
    width: 100%;
}

form input, select{
    background-color: #fff;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


form input, select {
    text-indent: 15px;
}


form button{
    width: 100%;
    background-color: #FF5F15;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    color: #1A1731;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

p{
    font-size: 14px;
}

