.contenedor-formulario {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    color: #1A1731;
}

.formulario-nuevos-usuarios{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.formulario-nuevos-usuarios h2 {
    text-align: center;
    color: #FF5F15;
}

.contenedor-fila-nuevos-usuarios{
    display: flex;
    gap: 1rem;
}

.contenedor-fila-nuevos-usuarios div{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor-fila-nuevos-usuarios input, select, button{
    all: unset;
    text-indent: 10px;
    width: 100%;
    background-color: #fff;
    padding: .6rem 0px;
    border-radius: .9rem;
    border: .15rem solid transparent;
    box-shadow: 0px .15rem .15rem .15rem  rgba(0, 0, 0, 0.0888);
    transition: border 0.3s ease-in-out;
}


.contenedor-fila-nuevos-usuarios input:focus, select:focus {
    border-color: #FF5F15;
}

.contenedor-fila-nuevos-usuarios select {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-fila-nuevos-usuarios button{
    background-color: #FF5F15;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.contenedor-fila-nuevos-usuarios button:hover{
    border-color: black;
}

.btn-cancelar{
    background-color: #CD4450 !important;
}
