<section>
    <app-nav-sesion [nombre]="nombreUser" [userLogue]="isUserLogue" />
    <div class="contenedor-modulo">
        <div class="modulo">
            <h2>Modulo Estudiantes</h2>
            <ul class="modulo-links">
                <a routerLink="listar-estudiantes" routerLinkActive="estudiantes-link-active" title="Ir a Lista Estudiantes."> <img src="icons/tabla-estudiantes.svg" title="Icono Lista Estudiantes." alt="Mostrar Estudiantes" width="20px"> Mostrar todos</a>
                <a routerLink="nuevo-estudiante" routerLinkActive="estudiantes-link-active" title="Ir a Agregar Estudiante."> <img src="icons/nuevo-estudiante.svg" title="Icono Nuevo Estudiante." alt="Nuevo Estudiante" width="20px" style="margin-bottom: 3px;"> Nuevo</a>
            </ul>
            <div class="contenedor-componente">
                    <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>
