<app-header-sesion />
<section>
    <div class="contenido">
        <h2>Modulo Estudiantes</h2>
        <ul class="modulo-links">
            <a routerLink="listar-estudiantes" routerLinkActive="estudiantes-link-active" title="Ir a Lista Estudiantes."> <img src="icons/tabla.svg" title="Icono Lista Estudiantes." alt="Mostrar Estudiantes" width="20px"> Mostrar todos</a>
            <a routerLink="nuevo-estudiante" routerLinkActive="estudiantes-link-active" title="Ir a Agregar Estudiante."> <img src="icons/nuevo.svg" title="Icono Nuevo Estudiante." alt="Nuevo Estudiante" width="20px" style="margin-bottom: 3px;"> Nuevo</a>
            <a routerLink="detalle-estudiante" routerLinkActive="estudiantes-link-active" title="Ir a Detalle Estudiante"> <img src="icons/detalle.svg" title="Icono Detalle Estudiante" alt="Detalle Estudiante" width="20px" style="margin-bottom: 2px;">Buscar</a>
        </ul>
        <div class="contenedor-modulo">
            <div class="modulo">
                <div class="contenedor-componente">
                        <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer-sesion />
