h2{
    color: #1A1731;
}

.contenedor-bienvenida{
    background-color: #fff;
    display: flex;
    height: 50px;
    justify-content: space-between;
    color: #1A1731;
    align-items: center;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    text-shadow: 0 0 1px #000;
}

.contenedor-bienvenida{
    padding: 0 30px;
}

.contenedor-bienvenida div a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #FF5F15;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
    transition: .4s ease all;
}

.contenedor-bienvenida div a:hover{
    background-color: #1A173110;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}

.contenedor-bienvenida div {
    display: flex;
    gap: 15px;
}


.contenedor-bienvenida div a img{
    margin: 0;
}
