h2{
    color: #1A1731;
}

.contenedor-bienvenida{
    background-color: #fff;
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    color: #1A1731;
    align-items: center;
    box-shadow: 0 0 .3rem .3rem rgba(0, 0, 0, 0.1);
}

.contenedor-bienvenida{
    padding: 0 3rem;
}

.contenedor-bienvenida div a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    color: #FF5F15;
    text-decoration: none;
    padding: .3rem .8rem;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
    transition: .4s ease all;
}

.contenedor-bienvenida div a:hover{
    background-color: #1A173110;
    box-shadow: 0 0 .3rem .1rem rgba(0, 0, 0, 0.1);
}

.contenedor-bienvenida div {
    display: flex;
    gap: 1rem;
}


.contenedor-bienvenida div a img{
    margin: 0;
}
