<div class="contenedor-bienvenida">
    <h2>Bienvenido:  {{ nombreUser }} </h2>

    <div>
        @if (isUserLogue == true) {
            <a routerLink="/modulos" title="Ir a Modulos."> <img width="20px" src="icons/icono-nav-modulos.svg" title="Icono Modulos." alt="Modulos"> Modulos</a>
        }
        <a href="#" (click)="$event.preventDefault(); cerrarSesion()" title="Cerrar Sesión"> <img width="20px" src="icons/icono-nav-cerrar-sesion.svg" title="Icono Cerrar Sesión" alt="Cerrar Sesion"> Cerrar Sesión</a>
    </div>
</div>