
@if (activarOverlay) {
    <app-overlay 
        [opciones]="{
            color: '#1A1731', 
            icon: '/icons/informacion.png', 
            mensaje: 'Token expirado, inicie sesión nuevamente, por favor.', 
            alt: 'IconInformacion', 
            lista: []}" 
            [redireccionar]="true" 
    />
}

@if (estudianteEliminado) {
    <app-overlay 
        [opciones]="{
            color: 'green', 
            icon: '/icons/comprobado.png', 
            mensaje: 'Estudiante eliminado exitosamente.', 
            alt: 'IconInformacion', 
            lista: []}" 
            (datoEmitidoRecargar)="recibirDeOverlay($event)" 
        />
}
<table>
    <thead>
        <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Email</th>
            <th>Genero</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @for (estudiante of estudiantes; track estudiante.id) {
            <tr>
                <td> {{ estudiante.cedula }} </td>
                <td> {{ estudiante.nombre }} </td>
                <td> {{ estudiante.apellido }} </td>
                <td> {{ estudiante.edad }} </td>
                <td> {{ estudiante.email }} </td>
                <td> {{ estudiante.genero }} </td>
                <td class="contenedor-btns">
                    <button (click)="eliminarEstudiante(estudiante.id)" class="btn btn-actualizar" [title]="`Actualizar a ${estudiante.nombre}`"><img src="icons/icono-actualizar.svg" alt="Actualizar" width="18px"></button>
                    <button (click)="eliminarEstudiante(estudiante.id)" class="btn" [title]="`Eliminar a ${estudiante.nombre}`"><img src="icons/icono-eliminar.svg" alt="Eliminar" width="15px"></button>
                </td>
            </tr>
        }
    </tbody>
</table>


