<section>
        <div class="contenedor-ingresar">
        <div class="contenedor-imagen">
            <img src="img/imagen-ingresar-formularios.webp" title="Fondo Ingreso y Resgitro." alt="Imagen Formularios">
        </div>
        <div class="contenedor-formulario">
            @if (isIngresando == true) {
                
                <app-form-ingresar [login]="login" [estudianteLogin]="datosLogin" [registrandose]="registrandose" />
            }
        
            @if(isRegistrando == true){
                <app-form-registrar  [registrar]="registrar" [estudianteRegistrar]="datosRegistro" [ingresando]="ingresando"/>
            }
        </div>
    </div>

</section>
<app-footer></app-footer>