<section>
    @if(mostrarOverlay == true){
        <app-overlay [opciones]="opciones" [desactivar]="desactivarOverlay" (datoEmitidoOcultar)="recibirDelOverlay($event)" />
    }
    
    <div class="contenedor-ingresar">
        <div class="contenedor-imagen">
            <img src="img/imagen-ingresar-formularios.jpg" alt="Imagen Formularios">
        </div>
        <div class="contenedor-formulario">
            @if (isIngresando == true) {
                
                <app-form-ingresar [login]="login" [estudianteLogin]="datosLogin" [registrandose]="registrandose" />
            }
        
            @if(isRegistrando == true){
                <app-form-registrar  [registrar]="registrar" [estudianteRegistrar]="datosRegistro" [ingresando]="ingresando"/>
            }
        </div>
    </div>

</section>