section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-ingresar{
    width: 100%;
    display: flex;
}

.contenedor-imagen img{
    height: calc(100vh);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    mask-image: linear-gradient(to right, red 70%, transparent);
}

.contenedor-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
}

