@if (mostrarOverlayExitoso) {
    <app-overlay [opciones]="{alt: 'IconInformacion', color: 'green', icon: 'icons/comprobado.png', mensaje: 'Registro exitoso.', lista: []}" (datoEmitidoRecargar)="recibirDelOverlayExitoso($event)" />
}

@if (mostrarOverlayErrores) {
    <app-overlay [opciones]="{alt: 'IconError', color: 'red', icon: 'icons/error.png', mensaje: '', lista: listaErrores}" (datoEmitidoOcultar)="recibirDelOverlayErrores($event)" />
}

<div class="contenedor-formulario">
    <form class="formulario-nuevos-usuarios">
        <h2> {{ nombreFormulario }} </h2>
        <div class="contenedor-fila-nuevos-usuarios">
            <div>
                <label for="cedula-estudiante"> Cedula </label><br> 
                <input [(ngModel)]="estudiante.cedula" type="number" id="cedula-estudiante" name="cedula-estudiante">
            </div>

            <div>
                <label for="nombre-estudiante">Nombre</label><br>
                <input [(ngModel)]="estudiante.nombre" type="text" id="nombre-estudiante" name="nombre-estudiante">
            </div>
        </div>

        <div class="contenedor-fila-nuevos-usuarios">
            <div>
                <label for="apellido-estudiante"> Apellido</label><br> 
                <input [(ngModel)]="estudiante.apellido" type="text" id="apellido-estudiante" name="apellido-estudiante">
            </div>

            <div>
                <label for="edad-estudiante">Edad</label><br>
                <input [(ngModel)]="estudiante.edad" type="number" id="edad-estudiante" name="edad-estudiante">
            </div>
        </div>

        <div class="contenedor-fila-nuevos-usuarios">
            <div>
                <label for="email-estudiante">Email</label><br>
                <input [(ngModel)]="estudiante.email" type="email" name="email" id="email-estudiante" name="email-estudiante">
            </div>

            <div>
                <label for="contrasena-estudiante">Contraseña</label><br>
                <input [(ngModel)]="estudiante.contrasena" type="password" name="contrasena" id="contrasena-estudiante" name="contrasena-estudiante"/>
            </div>
        </div>
        <div class="contenedor-fila-nuevos-usuarios">
            <div style="width: 100%;">
                <label for="genero-estudiante">Genero</label><br>
                <select [(ngModel)]="estudiante.generoId" style="height: 30px; width: 100%;" name="genero-estudiante" id="genero-estudiante">
                    <option selected value="0">Seleccionar</option>
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                    <option value="3">Otro</option>
                </select>
            </div>
        </div>

        <div class="contenedor-fila-nuevos-usuarios">
            <button (click)="validarRegistro()"> Añadir </button>
        </div>

    </form>
</div>