nav {
    width: 100%;
    position: fixed;
    background-color: #1A1731;
    color: #fff;
    font-weight: bold;
    height: 4.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 6px #000;
    z-index: 100;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
}

nav .contenedor-links {
    display: flex;
    gap: 2rem;
}

nav .contenedor-links a img{
    width: 1.3rem;
}

nav .contenedor-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF5F15;
    text-decoration: none;
    padding: .3rem;
    border-radius: .4rem;
    gap: .2rem;
}

.link-active{
    background-color: #f0f4fd20;
}

