<nav>
    <h1> <img src="icons/logo-novauniversity.png" alt="Logo" width="40px"> NovaUniversitas</h1>
    
    @if (isInicio == true) {
        <div class="contenedor-links">
            <a 
                title="Ir a Home"
                routerLink="" 
                routerLinkActive="link-active" 
                [routerLinkActiveOptions]="{exact: true}"
            > <img src="icons/icono-nav-home.svg" alt="Home"> Home</a>
            
            <a 
                title="Ir a Nosotros"
                routerLink="/nosotros"  
                routerLinkActive="link-active" 
                [routerLinkActiveOptions]="{exact: true}"
            > <img src="icons/icono-nav-nosotros.svg" alt="Nosotros"> Nosotros</a>
            
            <a 
                title="Ir a Programas"
                routerLink="/programas" 
                routerLinkActive="link-active" 
                [routerLinkActiveOptions]="{exact: true}"
            > <img src="icons/icono-nav-programas.svg" alt="Programas"> Programas</a>
            
            <a 
                title="Ir a Ingreso y registro."
                routerLink="/iniciar-sesion" 
                routerLinkActive="link-active" 
                [routerLinkActiveOptions]="{exact: true}"
            > <img src="icons/icono-nav-iniciar-sesion.svg" alt="Ingresar"> Ingresar</a>
        </div>
    }
</nav>