<!--[style.display]="ocultarOverlayExitoso ? 'none' : 'true'"-->
<div class="overlay">
    <div>
        <img src="{{ opciones.icon }}" alt="{{ opciones.alt }}">
        @if(opciones.lista.length > 0){
            @for (error of opciones.lista; track $index) {
                <p [style.color]="opciones.color"> - {{ error }} </p>
            }
        }@else {
            <p [style.color]="opciones.color"> {{ opciones.mensaje }} </p>
        }
        <input (click)="ocultarOverlay()" type="button" value="Aceptar">
    </div>
</div>