section{
    height: fit-content;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
}

h2{
    color: #1A1731;
    padding-top: 1.4rem;
    text-align: center;
}

.programas-link-active{
    background-color: #1A173110;
    box-shadow: 0 0 .3rem .1rem rgba(0, 0, 0, 0.1);
}