@if (activarOverlay) {
    <app-overlay 
        [opciones]="opciones"
        [accionesOverlay]="accionesOverlay"
        (datoEmitidoOcultar)="recibirDatoOcultar($event)"
    />
}


<div class="tabla-estudiantes">
    <table>
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Celular</th>
                <th>Email</th>
                <th>Genero</th>
                <th>Fecha Creación</th>
                <th>Estado</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @for (estudiante of estudiantes; track estudiante.id) {
                <tr>
                    <td> {{ estudiante.cedula }} </td>
                    <td> {{ estudiante.nombre }} </td>
                    <td> {{ estudiante.apellido }} </td>
                    <td> {{ estudiante.edad }} </td>
                    <td> {{ estudiante.celular || 'No tiene'  }} </td>
                    <td> {{ estudiante.email }} </td>
                    <td> {{ estudiante.genero }} </td>
                    <td> {{ estudiante.fechaCreacion | date:'yyyy/MM/dd hh:mm' }} </td>
                    <td><p [ngClass]="(estudiante.estado)? 'activo': 'inactivo'"> {{ (estudiante.estado) ? 'Activo' : 'Inactivo' }} </p> </td>
                    <td class="contenedor-btns">
                        <button [routerLink]="['/estudiantes', 'editar-estudiante', estudiante.id]" class="btn btn-actualizar"><img src="icons/icono-actualizar.svg" [title]="`Actualizar a ${estudiante.nombre}`" alt="Icono Actualizar" width="18px"></button>
                        <button (click)="eliminarEstudiante(estudiante.id)" class="btn"><img src="icons/icono-eliminar.svg" [title]="`Eliminar a ${estudiante.nombre}`" alt="Icono Eliminar" width="15px"></button>
                        <button (click)="copiarCedula(estudiante.cedula)" class="btn"><img src="icons/icono-copiar.svg" [title]="'Copiar Cedula de ' + estudiante.nombre" alt="Copiar Cedula" width="15px"></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <!-- EL COMPONENTE DE PAGINACION REGRESA LA LISTA DE ESTUDIANTES -->
    <app-paginacion [numeroPagina]="numeroPagina" [tamanoPagina]="tamanoPagina"  (enviarEstudiantes)="recibirEstudiantes($event)" />
</div>




