.contenedor-btns button{
    margin: 0 .3rem;
}


.btn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.tabla-estudiantes{
    height: 73vh;
    overflow: auto;
}

.inactivo{
    border-radius: .8rem;
    background-color: #FF000060;
    color: #1A1731;
    padding: .2rem;
}

.activo{
    border-radius: .8rem;
    background-color: #00FF0060;
    color: #1A1731;
    padding: .2rem;
}



