
.inicio-universidad {
    display: flex;
}

.contenedor-img img{
    height: calc(100vh - 60px);
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
    mask-image: linear-gradient(to right, red 70%, transparent);
}

.contenedor-contenido{
    padding: 0px 30px;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.contenedor-contenido p{
    text-align: justify;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 16px;
}

.btn-principal {
    background-color: #1A1731;
    color: #fff;
}