<section>
    <div class="inicio-universidad">
        <div class="contenedor-img">
            <img src="img/celebracion-redimensionada.jpg" alt="Celebración">
        </div>
        <div class="contenedor-contenido">
            <h1>Bienvenido a NovaUniversitas</h1>
            <p>
            En NovaUniversitas formamos líderes con visión global y compromiso social. 
            Nuestro enfoque académico de excelencia, la innovación tecnológica 
            y un fuerte sentido humanista nos distinguen como una de las 
            instituciones más reconocidas del país.
            </p>
            
            <div class="botones-accion">
            <a routerLink="/programas" class="btn btn-principal">Conoce nuestros programas</a>
            </div>
        </div>
    </div>
</section>
