section{
    width: 100%;
    height: 100vh;
    padding-top: 4.3rem;
}

.inicio-universidad {
    width: 100%;
    display: flex;
}

.contenedor-img{
    width: 60%;
}

.contenedor-img img{
    width: 100%;
    height: calc(100vh - 4.3rem);
    mask-image: linear-gradient(to right, red 70%, transparent);
}

.contenedor-contenido{
    width: 40%;
    padding: 0px 2rem;
    height: calc(100vh - 4.3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.contenedor-contenido h2{
    color: #FF5F15;
    text-shadow: 0 0 .1rem #000;;
}

.contenedor-contenido p{
    text-align: justify;
    text-shadow: 0 0 .1rem #000;
}

.btn {
    display: inline-block;
    padding: .7rem 1.4rem;
    border-radius: .5rem;
    text-decoration: none;
    font-weight: bold;
}

.btn-principal {
    background-color: #1A1731;
    color: #fff;
}