button{
    color: #1A1731;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 30px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
    transition: .4s ease all;
}

button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 3px 1px #1A1731;
}
