@if (activarOverlay) {
    <app-overlay
        [opciones]="opciones"
        [accionesOverlay]="accionesOverlay"
        (datoEmitidoOcultar)="recibirDatoOcultar($event)"
    />
}

<div class="contenedor-formulario">
    <form class="formulario-nuevos-usuarios" (ngSubmit)="crearEstudiante()">
        <h2> {{ nombreFormulario }} </h2>
        <div class="contenedor-fila-nuevos-usuarios">
            <div>
                <input [(ngModel)]="estudiante.cedula" placeholder="Cedula" type="number" id="cedula-estudiante" name="cedula-estudiante">
            </div>

            <div>
                <input [(ngModel)]="estudiante.nombre" placeholder="Nombre" type="text" id="nombre-estudiante" name="nombre-estudiante">
            </div>
        </div>

        <div class="contenedor-fila-nuevos-usuarios">
            <div>
                <input [(ngModel)]="estudiante.apellido" placeholder="Apellido" type="text" id="apellido-estudiante" name="apellido-estudiante">
            </div>

            <div>
                <input [(ngModel)]="estudiante.edad" placeholder="Edad" type="number" id="edad-estudiante" name="edad-estudiante">
            </div>
        </div>

        <div class="contenedor-fila-nuevos-usuarios">
            <div>
                <input [(ngModel)]="estudiante.email" placeholder="Email" type="email" name="email" id="email-estudiante" name="email-estudiante">
            </div>

            <div>
                <input [(ngModel)]="estudiante.celular" placeholder="Celular" type="text" name="celular" id="celular-estudiante" name="celular-estudiante"/>
            </div>
        </div>

        <div class="contenedor-fila-nuevos-usuarios">
            <div>
                <input [(ngModel)]="estudiante.contrasena" placeholder="Contraseña" type="password" name="contrasena" id="contrasena" />
            </div>
            <div>
                <input [(ngModel)]="estudiante.confirmacion_contrasena" placeholder="Confirmar contraseña" type="password" name="confirmacion_contrasena" id="confirmacion_contrasena">
            </div>

        </div>

        <div class="contenedor-fila-nuevos-usuarios">
            <div>
                <select [(ngModel)]="estudiante.generoId" style="height: 30px; width: 100%;" name="genero-estudiante" id="genero-estudiante">
                    <option selected value="0">Seleccionar</option>
                    <option value="1">Masculino</option>
                    <option value="2">Femenino</option>
                    <option value="3">Otro</option>
                </select>
            </div>
        </div>

        <div class="contenedor-fila-nuevos-usuarios">
            <button type="submit"> Añadir </button>
        </div>

    </form>
</div>