<app-nav />
<section class="seccion-imagen-programas">
    <div>
      <h2>NUESTROS PROGRAMAS</h2>
    </div>
</section>
<section class="seccion-lista-programas">
    <h2 class="titulo-seccion">✨ Programas</h2>
    <div class="contenedor-cards">
        @for (programa of programas; track programa.id) {
            <div class="card">
                <img [src]="rutaImagenesProgramas + programa.rutaImagen" [alt]="'Imagen de ' + programa.nombre" loading="lazy" [title]="'Programa en ' + programa.nombre">
                <h3> {{ programa.nombre }} </h3>
                <p><strong>Descripción: </strong> {{ programa.descripcion }} </p>
                <p><strong>Duración:</strong> {{ programa.duracion }} semestres. </p>
            </div>
        }
    </div>
</section>  
<app-footer></app-footer>