button{
    all: unset;
    color: #1A1731;
    font-weight: bold;
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 2rem;
    padding: 1rem;
    border-radius: .9rem;
    border: .2rem solid transparent;
    background-color: #fff;
    box-shadow: 0px .2rem .2rem .2rem rgba(0, 0, 0, 0.0888);
    transition: .4s ease all;
}

button:hover{
    transform: scale(1.020);
    border-color: #FF5F15;
}
