*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

section{
    height: calc(100vh - 60px);
    color: #1A1731;
}

body{
    background-color: #f0f4fd;
}

.contenedor-modulo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenedor-modulo .modulo{
    width: 95%;
    min-height: 90vh;
    gap: 15px;
    display: flex;
    flex-direction: column;
    padding: 40px 0 0 0;
    border-radius: 5px;
}

.contenedor-modulo .modulo h2{
    text-align: left;
    padding: 5px 10px;
}

.contenedor-modulo .modulo-links{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.contenedor-modulo .modulo-links a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: #FF5F15;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    align-items: center;
    transition: .4s ease all;
}


.contenedor-modulo .modulo-links a:hover{
    background-color: #1A173110;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
}


.contenedor-modulo > .contenedor-componente{
    min-height: 73vh;
    overflow-y: auto;
    background-color: transparent;
}

.contenedor-modulo .contenedor-componente  table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.contenedor-modulo .contenedor-componente table th {
  position: sticky;
  top: 0;
  background-color: #FFF; /* Fondo para que se vea al estar encima */
  z-index: 1;
}

.contenedor-modulo .contenedor-componente table td, th{
    padding: 8px;
    border-bottom: 1px solid #0002;
    background-color: #F5F5F5;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
