footer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #0A0A0A;
    padding: 2rem 0;
    color: #f0f4fd;
    box-shadow: 0 0 .4rem #000;
}

footer h2{
    color: #FF5F15;
}

.footer-top{
    display: flex;
    justify-content: space-around;
}

.footer-bottom{
    text-align: center;
}

footer .contenedor{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.redes-sociales{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

.redes-sociales ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.redes-sociales ul .twitter{
    background-color: #f0f4fd;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: .4rem;
}

footer .btn-descargar{
    all: unset;
    padding: .7rem;
    background-color: #FF5F15;
    color: #1A1731;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-radius: .8rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .link-desarrollador{
    display: flex;
    align-items: center;
    gap: .4rem;
}

footer .link-desarrollador a{
    color: #f0f4fd;
    display: flex;
    align-items: center;
    gap: .4rem;
    text-decoration: none;
}