<footer>
    <div class="footer-top">
        <div class="contenedor">
            <h3>Información de contacto</h3>
            <ul>
                <li><strong>Direccion:</strong> Calle 19A BIS #116 - 73.</li>
                <li><strong>Email:</strong> servicio&#64;novauniversitas.com</li>
                <li><strong>Telefono:</strong> 3014304546.</li>
                <li><strong>Horarios:</strong> Lunes a viernes 8am - 6pm.</li>
            </ul>
            <div class="link-desarrollador">
                <h3>Desarollador: </h3>
                <a href="https://github.com/Ginto11" title="Ir a GitHub" rel="me" target="_blank">Nelson Muñoz<img src="icons/github.webp" title="Icono GitHub" alt="Logo Github"></a>
            </div>
        </div>

        <div class="contenedor">
            <h3>Contactanos</h3>
            <form>
                <input type="text" id="nombre" placeholder="Nombre completo">
                <input type="email" id="email2" placeholder="Email">
                <textarea name="mensaje" id="mensaje" placeholder="Ingrese un mensaje"></textarea>
                <button>Enviar</button>
            </form>
        </div>

        <div class="contenedor">
            <h3>Documentos legales adjuntos</h3>
            <ul>
                <li>Política de privacidad</li>
                <a class="btn-descargar" title="Descargar politicas de privacidad." href="documentos/Politica_Privacidad_NovaUniversitas.pdf" download="Politica_Privacidad_NovaUniversitas.pdf" target="_blank">Descargar <img src="icons/icono-descargar.svg" title="Icono Descargar" width="25px" alt="Descargar politicas de privacidad."></a>
                <li>Términos y condiciones</li>
                <a class="btn-descargar" title="Descargar terminos y condiciones." href="documentos/Terminos_Condiciones_NovaUniversitas.pdf" download="Terminos_Condiciones_NovaUniversitas.pdf" target="_blank">Descargar <img src="icons/icono-descargar.svg" title="Icono Descargar" width="25px" alt="Descargar terminos y condiciones."></a>
            </ul>
        </div>
    </div>

    <div class="redes-sociales">
        <h3>Redes sociales</h3>
        <ul>
            <li><img src="icons/facebook.webp" alt="Facebook" title="Facebook"></li>
            <li><img src="icons/instagram.webp" alt="Instagram" title="Instagram"></li>
            <li><img src="icons/tik-tok.webp" alt="Tik Tok" title="Tik Tok"></li>
            <li class="twitter"><img src="icons/x.webp" alt="X" title="X"></li>
            <li><img src="icons/youtube.webp" alt="Youtube" title="Youtube"></li>
        </ul>
    </div>

    <div class="footer-bottom">
        <p>© 2025 NovaUniversitas. Todos los derechos reservados.</p>
    </div>

</footer>