h2{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    color: #1A1731;
    /*background-image: linear-gradient(90deg, #000117ee, #017C8E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    
    /* Para compatibilidad adicional */
    /*background-clip: text;
    color: transparent;*/
}

form{
    width:  100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color: #1A1731;
}

form div{
    display: flex;
    justify-content: center;
    width: 100%;
}

/*
form input, select{
    background-color: #fff;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}*/

form input, select, button {
    all: unset;
    width: 90%;
    background-color: #fff;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid transparent;
    box-shadow: 0px 2px 2px 2px  rgba(0, 0, 0, 0.0888);
    transition: border 0.3s ease-in-out;
}

form input:focus, select:focus {
    border-color: #FF5F15;
}

form button{
    background-color: #FF5F15;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

form button:hover{
    border-color: black;
}

p{
    font-size: 14px;
}

