<form>
    <h2>Formulario de ingreso</h2>
    <div>
        <input [(ngModel)]="estudianteLogin.email" required="" class="input-form" type="email" name="email" id="email"placeholder="Email">
    </div>

    <div>
        <input [(ngModel)]="estudianteLogin.contrasena" required="" class="input-form" name="contrasena" id="contrasena" type="password" placeholder="Contraseña">
    </div>

    <div>
        <button (click)="login()" >Ingresar</button>
    </div>
    <p>Si no tienes cuenta, <a href="#" (click)="$event.preventDefault(); registrandose()">Registrate</a></p>
</form>
