.contenedor-paginado{
    padding: .4rem 0;
    height: fit-content;
    display: flex;
    background-color: #FFF;
    align-items: center;
    gap: 2rem;
}

.contenedor-paginado button{
    all: unset;
    padding: .3rem .8rem;
    border-radius: .5rem;
    cursor: pointer;
    background-color: #1A1731;
    color: #FFF;
}

.contenedor-paginado div{
    margin: 0 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
